
<h3>Today's Matchups:</h3>

<% i = 0 %>
<% z = 1 %>
<% x = @games["dates"][0]["games"].length %>
<% while (i < x) do %>
<ul>
  <li><b>Game <%=z %> :</b>
    <%= @games ? @games["dates"][0]["games"][i]["teams"]["home"]["team"]["name"] : "Game info loading..." %>
      Vs.
    <%= @games ? @games["dates"][0]["games"][i]["teams"]["away"]["team"]["name"] : "Game info loading..." %>
  </li>
</ul>
<% i += 1 %>
<% z += 1 %>
<% end %>
