<h1>Team Win Predictor</h1>
<h3>Search for Team: </h3>

<%= form_tag(teams_path, method: :get) do %>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag 'Search', name: nil %>
<% end %>

<% @teams.each do |team| %>
  <ul>
    <li><%= team.name %> </li>
  </ul>
<% end %>
