#reset-btn {
  text-decoration: none;
  color: black;
}

.noGameAnnouncement {
  display: inline-block;
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 36%;
  font-family: sans-serif;
}

@media screen and (max-width: 650px) {
  .noGameAnnouncement {
    display: inline-block;
    padding-right: 10px;
    margin-left: 25%;
  }
}

.badSearch {
  display: inline-block;
  margin-top: 30px;
  margin-left: 60px;
  font-family: sans-serif;
}

.mlbLogo {
  display: inline-block;
  padding-right: 10px;
  margin-left: 30%;
}

@media screen and (max-width: 650px) {
  .mlbLogo {
    display: inline-block;
    padding-right: 10px;
    margin-left: 30%;
  }
}

.footerId {
  display: inline-block;
  padding-bottom: 10px;
}

@media screen and (max-width: 650px) {
  .footerId {
    display: inline-block;
    padding-bottom: 10px;
    margin-left: 30%;
  }
}

#gameInformation2 {
  display: inline-block;
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 300px;
  font-family: sans-serif;
}

@media only screen and (max-width: 650px) {
  #gameInformation2 {
      margin-left: 1%;
      font-family: sans-serif;
      display: inline-block;
      font-size: 6px;
  }
}

@media only screen and (min-width: 650px) and (max-width: 1250px) {
  #gameInformation2 {
      margin-left: 1%;
      font-family: sans-serif;
      display: inline-block;
      font-size: 12px;
  }
}

@media only screen and (max-width: 650px) {
  #noGameHeading {
      font-size: 20px;
      margin-left: -5%;
  }
}

.gameInformation2 {
  display: inline-block;
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 20%;
  font-family: sans-serif;
}

@media screen and (max-width: 1025px) {
  .gameInformation2 {
    display: inline-block;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 12%;
    font-family: sans-serif;
  }
}

#firstPitchInformation2 {
  display: inline-block;
  margin-right: 2%;
  margin-left: 2%;
  font-family: sans-serif;
}

@media only screen and (max-width: 650px) {
  #firstPitchInformation2 {
      display: inline-block;
      font-family: sans-serif;
      font-size: 6px;
      margin-left: 1%;
  }
}

@media only screen and (min-width: 650px) and (max-width: 1250px) {
  #firstPitchInformation2 {
      margin-left: 1%;
      font-family: sans-serif;
      display: inline-block;
      font-size: 12px;
  }
}

#predictedWinner2 {
  display: inline-block;
  margin-right: 2%;
  font-family: sans-serif;
  color: red;
}

@media only screen and (max-width: 650px) {
  #predictedWinner2 {
      font-size: 6px;
      margin-left: 1%;
      font-family: sans-serif;
      display: inline-block;
      color: red;
  }
}

@media only screen and (min-width: 650px) and (max-width: 1250px) {
  #predictedWinner2 {
      margin-left: 1%;
      font-family: sans-serif;
      display: inline-block;
      font-size: 12px;
  }
}

#predictedWinner2Heading {
  margin-right: 10px;
  font-family: sans-serif;
  color: black;
}

#percentChanceWinner2 {
  display: inline-block;
  font-family: sans-serif;
  color: red;
}

@media only screen and (max-width: 650px) {
  #percentChanceWinner2 {
      display: inline-block;
      margin-left: 1%;
      font-family: sans-serif;
      color: red;
      font-size: 6px;
  }
}

@media only screen and (min-width: 650px) and (max-width: 1250px) {
  #percentChanceWinner2 {
      margin-left: 1%;
      font-family: sans-serif;
      display: inline-block;
      font-size: 12px;
  }
}

#percentChanceWinner2Heading {
  font-family: sans-serif;
  color: black;
}

.gamesIndex {
  border: 10px solid #5259e9;
  border-style: ridge;
  background: #fff9ed;
  box-sizing: border-box;
  min-height: 100vh;
}

.teamDataLink1 {
margin-left: 40%;
margin-top: 20px;
font-family: sans-serif;
}

@media only screen and (max-width: 650px) {
  .teamDataLink1 {
  margin-left: 20%;
  margin-top: 20px;
  font-family: sans-serif;
  }
}

.appInfo {
margin-left: 150px;
margin-right: 150px;
margin-top: 20px;
font-family: sans-serif;
}

@media only screen and (max-width: 650px) {
  .appInfo {
    margin-left: -10%;
    margin-right: 150px;
    margin-top: 20px;
    font-family: sans-serif;
    width: 50px;
    overflow: scroll;
  }
}

br {
  content: " ";
  display: block;
  margin: 5px;
}

.breakLine {
  margin: 20px;
}

#indexHeading {
    font-family: sans-serif;
    margin-left: 35%;
}

.indexHeading {
  font-family: sans-serif;
  margin-left: 35%;
}

@media only screen and (max-width: 650px) {
  .indexHeading {
      margin-left: 20%;
      font-family: sans-serif;
  }
}

@media only screen and (max-width: 650px) {
  #indexHeading {
      margin-left: 20%;
      font-family: sans-serif;
  }
}

#dataHeading {
    font-family: sans-serif;
    margin-left: 40%;
}

@media only screen and (max-width: 650px) {
  #dataHeading {
    font-family: sans-serif;
    margin-left: 20%;
  }
}

#searchHeading {
    padding-top: 20px;
    font-family: sans-serif;
    margin-left: 40%;
}

@media only screen and (max-width: 650px) {
  #searchHeading {
    padding-top: 20px;
    font-family: sans-serif;
    margin-left: 20%;
  }
}

#searchInput {
    font-family: sans-serif;
    margin-left: 40%;
}

@media only screen and (max-width: 650px) {
  #searchInput {
    font-family: sans-serif;
    margin-left: 20%;
  }
}

.scorepredictorFooter {
  margin-left: 150px;
  margin-right: 150px;
  margin-top: 20px;
  font-family: sans-serif;
}

@media only screen and (max-width: 650px) {
  .scorepredictorFooter {
    margin-left: 20%;
    margin-right: 150px;
    margin-top: 20px;
    font-family: sans-serif;
  }
}

table {
  width: 100%;
  border: 1px solid #000;
}

@media only screen and (max-width: 650px) {
  table {
    width: 100%;
    border: 1px solid #000;
    margin-left: -15px;
  }
}

#noSearchTable {
  width: 100%;
  border: 1px solid #000;
}

th, td {
  width: 25%;
  text-align: left;
  vertical-align: top;
  border: 1px solid #000;
  border-collapse: collapse;
  padding: 0.3em;
  caption-side: bottom;
}

.noSearchTableTh {
  width: 25%;
  text-align: left;
  vertical-align: top;
  border: 1px solid #000;
  border-collapse: collapse;
  padding: 0.3em;
  caption-side: bottom;
}


th {
  background: #eee;
}

.noSearchTableThId {
  background: #eee;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *



 */

