<%= javascript_include_tag "scorepredictor" %>
<%= stylesheet_link_tag "teamstyles" %>

<body>
  <div>
    <ul class="gameInformation">
      <ul class="predictedWinner">
      </ul>
    </ul>
  </div>
    <%= link_to "Team War Info", teams_path %>
</body>
