<%= javascript_include_tag "scorepredictor" %>
<%= stylesheet_link_tag "teamstyles" %>

<body id="gamesIndex">
  <div id="gameInformation2">
    <h3>Teams Playing</h3>
  </div>
  <div id="firstPitchInformation2">
    <h3>First Pitch</h3>
  </div>
  <div id="predictedWinner2">
    <h3>Predicted Winner</h3>
  </div>
  <div id="percentChanceWinner2">
    <h3>Percent Chance of Winning</h3>
  </div>
  <hr id="breakLine" />
  <div id="teamWarLink">
<h3><%= link_to "Team Data", teams_path %></h3>
  </div>
</body>
