#reset-btn {
  text-decoration: none;
  color: black;
}

#gameInformation2 {
  display: inline-block;
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 150px;
  font-family: sans-serif;
}

#firstPitchInformation2 {
  display: inline-block;
  margin-right: 10px;
  font-family: sans-serif;
}

#predictedWinner2 {
  display: inline-block;
  margin-right: 10px;
  font-family: sans-serif;
  color: red;
}

#predictedWinner2Heading {
  margin-right: 10px;
  font-family: sans-serif;
  color: black;
}

#percentChanceWinner2 {
  display: inline-block;
  font-family: sans-serif;
  color: red;
}

#percentChanceWinner2Heading {
  font-family: sans-serif;
  color: black;
}



#gamesIndex {
  border: 10px solid #5259e9;
  border-style: ridge;
}

#teamWarLink {
margin-left: 150px;
margin-top: 20px;
font-family: sans-serif;
}

#breakLine {
  margin: 20px;
}

#indexHeading {
    font-family: sans-serif;
    margin-left: 35%;
}

#scorepredictorFooter {
  margin-left: 35%;
  font-family: sans-serif;
}
