#reset-btn {
  text-decoration: none;
  color: black;
}

.noGameAnnouncement {
  display: inline-block;
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 36%;
  font-family: sans-serif;
}

.mlbLogo {
  display: inline-block;
  padding-right: 10px;
}

.footerId {
  display: inline-block;
  padding-bottom: 10px;
}

#gameInformation2 {
  display: inline-block;
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 150px;
  font-family: sans-serif;
}

#firstPitchInformation2 {
  display: inline-block;
  margin-right: 10px;
  font-family: sans-serif;
}

#predictedWinner2 {
  display: inline-block;
  margin-right: 10px;
  font-family: sans-serif;
  color: red;
}

#predictedWinner2Heading {
  margin-right: 10px;
  font-family: sans-serif;
  color: black;
}

#percentChanceWinner2 {
  display: inline-block;
  font-family: sans-serif;
  color: red;
}

#percentChanceWinner2Heading {
  font-family: sans-serif;
  color: black;
}

.gamesIndex {
  border: 10px solid #5259e9;
  border-style: ridge;
  background: #fff9ed;
}

.teamWarLink {
margin-left: 40%;
margin-top: 20px;
font-family: sans-serif;
}

.appInfo {
margin-left: 150px;
margin-right: 150px;
margin-top: 20px;
font-family: sans-serif;
}

br {
  content: " ";
  display: block;
  margin: 5px;
}

.breakLine {
  margin: 20px;
}

.indexHeading {
    font-family: sans-serif;
    margin-left: 35%;
}

.scorepredictorFooter {
  margin-left: 35%;
  font-family: sans-serif;
}
